<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <section class="container">
        <h1>Lorem ipsum dolor sit amet consectet</h1>
        <form action="/" method="post">
            <label>
                Digit you name:
                <input type="text" name="name">
                <button>Send</button>
            </label>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>